nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid black;
    padding: 4px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 215px;
    background-color: #141616;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
    border: 1px solid #383838;
    color: #FFFFFF !important;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
color: darkblue;
}



p {padding: 0px;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
